<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<th:block th:replace="fragments/head :: head"></th:block>
</head>
<body>
	<div th:replace="fragments/navbar::navbar"></div>


	<div class="container text-center card mb-3 mt-3 border-dark bg-light">
		<div class="row ">
			<div class="col">
				<h1 th:text="${trip.name}"></h1>
				
			</div>
<!-- 			<div class="col">
				<a th:href="@{/trips/edit/{id}(id=${trip.id})}"
					class="btn btn-primary">Update Trip</a>
			</div> -->
		</div>
	</div>
	<div class="container">
		<div class="row justify-content-evenly">
			<div class="col"
				th:each="day:${#numbers.sequence(1,trip.tripLength)}">
				<div class="card mb-3 border-dark bg-light text-center"
					style="max-width: 18rem;">
					<h5>
						Day <span th:text="${day}">dayNumber</span>
					</h5>
				</div>

				<div th:each="item: ${trip.items}">
					<div th:if="${item.dayOfTrip} == ${day}">
						<div class="card mb-3 text-white border-dark" style="max-width: 18rem;"
							th:classappend="
							(${item.category} == 'None' ? 'bg-light' : '') 
							+ (${#strings.toString(item.category)} == 'Food' ? 'bg-primary' : '')
							+ (${#strings.toString(item.category)} == 'Accommodations' ? 'bg-danger' : '')
							+ (${#strings.toString(item.category)} == 'Attraction' ? 'bg-info' : '')
							+ (${#strings.toString(item.category)} == 'Transportation' ? 'bg-success' : '')
							">
							<div class="card-header" th:text=${item.category}>Header</div>
							<div class="card-body ">
								<h5 class="card-title" th:text=${item.name}>Primary card
									title</h5>
								<p class="card-text" th:text=${item.details}></p>
								<p class="card-text" th:text=${item.address}></p>
							</div>
						</div>
					</div>
				</div>

			</div>

			<!-- 	<div class="col-4">
      One of two columns
    </div>
    <div class="col-4">
      One of two columns
    </div> -->
		</div>
	</div>

</body>
</html>