<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <meta charset="UTF-8">
    <title>Travel Planner</title>
	<th:block th:replace="fragments/head :: head"></th:block>
</head>
<body>
	<div th:replace="fragments/navbar::navbar"></div>

<br /><br />
<div class="container">
    <div class="row">
        <h1 class="text-center"> Travel Planner </h1>
    </div>
    <div class="row">
	<h4 class="text-center"> Welcome [[${user.getFirstName}]]!</h4>
	<input th:value = ${user.getId}>
    </div>

<!-- 		<span>[[${#request.remoteUser}]]</span>
 <span sec:authentication="principal.fullName">Name</span>-->
</div>
</body>
</html>